*{
    margin: 0;padding: 0;
}

div.ui-datepicker-con{
    width: 240px; height: 50px; background: #f0f0f0;
    div.ui-datepicker-title{
        a.ui-datepicker-btn{
            width: 50p;
            height: 40px;
            text-decoration: none;
        }
        a.ui-datepicker-pre-btn{
            float: left;
        }
        a.ui-datepicker-next-btn{
            float: right;
        }
        span{
            font-size: 18px;
            font-weight: bold;
        }
    }
}