<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <script src="js/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <currency-input label="Price" v-model="price"></currency-input>
        <currency-input label="Shipping" v-model="shipping"></currency-input>
        <currency-input label="Handling" v-model="handling"></currency-input>
        <currency-input label="Discount" v-model="discount"></currency-input>
        <p>Total: ${{ total }}</p>
    </div>
    <!-- app -->
    <div id="app1">
        <ex></ex>
    </div>
    <!-- app -->
    <div id="app2">
        <button v-on:click='ds'>ds</button>
    </div>
    <!-- app -->
    <div id="app3">
        <p>{{total}}</p>
        <btn-cnt v-on:increment="incrementTotal"></btn-cnt>
        <btn-cnt v-on:increment="incrementTotal"></btn-cnt>
    </div>
    <!-- app -->
    <div id="app4">
        <native-event v-on:click.native='doThing' msgs="bing"></native-event>
    </div>
    <!-- app -->
    <div id="app5">
        <input v-model="msg" name="">
        <p>{{msg}}</p>
        <input v-bind:value="doTh" v-on:input="doTh = $event.target.value">
    </div>
    <!-- app -->
    <div id="app6"></div>
    <!-- app -->
    <div id="app7"></div>
    <!-- app -->
    <div id="app8"></div>
    <!-- app -->
    <div id="app9"></div>
    <!-- app -->
    <div id="app10"></div>
    <script type="text/javascript">
    Vue.component('currency-input', {
        template: '\
    <div>\
      <label v-if="label">{{ label }}</label>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
        v-on:focus="selectAll"\
        v-on:blur="formatValue"\
      >\
    </div>\
  ',
        props: {
            value: {
                type: Number,
                default: 0
            },
            label: {
                type: String,
                default: ''
            }
        },
        mounted: function() {
            this.formatValue()
        },
        methods: {
            updateValue: function(value) {
                var result = currencyValidator.parse(value, this.value)
                if (result.warning) {
                    this.$refs.input.value = result.value
                }
                this.$emit('input', result.value)
            },
            formatValue: function() {
                this.$refs.input.value = currencyValidator.format(this.value)
            },
            selectAll: function(event) {
                // Workaround for Safari bug
                // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
                setTimeout(function() {
                    event.target.select()
                }, 0)
            }
        }
    })

    new Vue({
            el: '#app',
            data: {
                price: 0,
                shipping: 0,
                handling: 0,
                discount: 0
            },
            computed: {
                total: function() {
                    return ((
                        this.price * 100 +
                        this.shipping * 100 +
                        this.handling * 100 -
                        this.discount * 100
                    ) / 100).toFixed(2)
                }
            }
        })
        /**
         * props 验证
         * 		--prop是一个对象而不是字符串数组时
         */
    Vue.component('ex', {
        props: {
            pa: Number,
            pb: [String, Number],
            pc: {
                type: String,
                require: true
            },
            pd: {
                type: Number,
                default: 100
            },
            pe: {
                type: Object,
                default: function() {
                    return
                }
            }
        },
        template: '<h1>{{pd}}</h1>'
    })
    new Vue({
        el: '#app1'
    })

    new Vue({
        el: "#app2",
        data: {
            a: 1
        },
        methods: {
            ds: function() {
                this.a++;
            }
        },
        watch: {
            'a': function(val, oval) {
                console.log(val, oval);
            }
        }
    });
    /**
     * 每个Vue实例都实现了事件接口
     * 	$on(eventName)--监听事件
     * 	$emit(eventName)--触发事件
     * 	父组件可以在使用子组件的地方直接使用v-on来监听子组件触发的事件
     * 	<p>{{total}}</p>
     * 	<btn-cnt v-on:increment="incrementTotal"></btn-cnt>
     * 	<btn-cnt v-on:increment="incrementTotal"></btn-cnt>
     */
    Vue.component('btn-cnt', {
        template: '<button v-on:click="increment">{{counter}}</button>',
        data: function() {
            return {
                counter: 0
            }
        },
        methods: {
            increment: function() {
                this.counter += 1;
                this.$emit('increment');
            }
        }
    });
    new Vue({
        el: '#app3',
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function() {
                this.total += 1;
            }
        }
    });

    /**
     * 在某个组件的根元素上监听一个原生事件
     * 		--使用.native 修饰 v-on
     * 		<native-event v-on:click.native="doThing"></native-event>
     */
    Vue.component('native-event', {
        data: function() {
            return {
                msg: "nordon"
            }
        },
        props: ['msgs'],
        template: '<button>{{msg}} {{msgs}}</button>'
    });
    new Vue({
        el: '#app4',
        methods: {
            doThing: function() {
                console.log('test');
            }
        },
        data: {
            msgs: 'wangyao'
        }
    })

    new Vue({
        el: "#app5",
        data: {
            msg: 'nordon'
        },
        methods: {
            doTh() {
                console.log('test');
                return 11;
            }
        }
    })
    </script>
</body>

</html>
