<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>

<body>
    <div id="app">
        <Tabs type="card" closable @on-tab-remove="handleTabRemove">
            <Tab-pane label="标签1" v-if="t.tab0">标签1的内容</Tab-pane>
            <Tab-pane label="标签2" v-if="t.tab1">标签2的内容</Tab-pane>
            <Tab-pane label="标签3" v-if="t.tab2">标签3的内容</Tab-pane>
            <Tab-pane label="标签4" v-if="t.tab3">标签4的内容</Tab-pane>
            <Tab-pane label="标签5" v-if="t.tab4">标签5的内容</Tab-pane>
            <Tab-pane label="标签6" v-if="t.tab5">标签6的内容</Tab-pane>
            <Tab-pane label="标签7" v-if="t.tab6">标签7的内容</Tab-pane>
            <Tab-pane label="标签8" v-if="t.tab7">标签8的内容</Tab-pane>
            <Tab-pane label="标签9" v-if="t.tab8">标签9的内容</Tab-pane>
        </Tabs>
        <Button type="primary" v-on:click="handleTabsAdd" >add</Button>
        <i-button type="primary">Primary</i-button>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    t: {
                        tab0: true,
                        tab1: true,
                        tab2: true,
                        tab3: true,
                        tab4: true,
                        tab5: false,
                        tab6: false,
                        tab7: false,
                        tab8: false,
                        tabs: 4,
                        ds:false
                    },
                }
            },
            methods: {
                handleTabsAdd() {
                    this.t.tabs++;
                    this.t['tab' + this.t.tabs] = true;
                    console.log(this.t);
                },
                handleTabRemove(name) {
                    this.t.tabs--;
                    this.t['tab' + name] = false;
                    console.log(this.t);
                }
            }
        })
    </script>
</body>

</html>